/*
    Nikita Vinnik 312535529
    Bar Salem 207351784
    Netanel Aharoni 312541576
*/


.log-box {
  width: 100%;
  min-height: 30px;
  padding-left:0.4em;
  margin-bottom: 30px;
  margin-top: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: darkgrey;
}

.button-gr{
  margin: 10px;
}

.log-text{
  color: red;
}
